@config "../tailwind.config.js";
@import "tailwindcss";

:root {
    color-scheme: light dark;
    --duration-copy-to-clipboard: 280;
    --duration-photos-arrow: 600;
    --bounce-length: 20%;
    --easing: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

@theme {
    --color-accent-p: light-dark(oklch(0.54 0.2 268.67), oklch(0.54 0.2 268.67));
    --color-dark: var(--color-stone-950);
    --color-light: var(--color-stone-50);
    --color-code: light-dark(#00000010, #ffffff10);
    --color-span: light-dark(var(--color-neutral-600), var(--color-neutral-400));

    --text-2xs: 0.435rem;
    --text-2xl--line-height: 0.7rem;

    --shadow-sm: 0 0 2px 0 var(--tw-shadow-color);
    --shadow-md: 0 0 6px -1px var(--tw-shadow-color), 0 0 4px -2px var(--tw-shadow-color);
    --shadow-lg: 0 0 15px -3px var(--tw-shadow-color), 0 0 6px -4px var(--tw-shadow-color);
    --shadow-xl: 0 0 25px -5px var(--tw-shadow-color), 0 0 10px -6px var(--tw-shadow-color);
    --shadow-2xl: 0 0 50px -12px var(--tw-shadow-color);

    --breakpoint-xs: 532px;
    --breakpoint-3xl: 1792px;

    @keyframes scale-up {
        0% {
            scale: 0;
            opacity: 0;
        }

        100% {
            scale: 1;
            opacity: 1;
        }
    }
    --animate-scale-up : scale-up calc(var(--duration-copy-to-clipboard) * 1ms) var(--easing) forwards;

    @keyframes scale-down {
        0% {
            scale: 1;
            opacity: 1;
        }

        100% {
            scale: 0;
            opacity: 0;
        }
    }
    --animate-scale-down: scale-down calc(var(--duration-copy-to-clipboard) * 1ms) var(--easing) forwards;
    
    @keyframes bounce-left {
        0%, 100% {
            transform: translateX(0%)
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
        50% {
            transform: translateX(var(--bounce-length));
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
    }
    --animate-bounce-left: bounce-left calc(var(--duration-photos-arrow) * 1ms) infinite;

    @keyframes bounce-right {
        0%, 100% {
            transform: translateX(0%);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
        50% {
            transform: translateX(calc(var(--bounce-length) * -1));
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
    }
    --animate-bounce-right: bounce-right calc(var(--duration-photos-arrow) * 1ms) infinite;
}

@layer base {
    b {
        @apply font-semibold text-black dark:text-white
    }

    h1 {
        @apply text-3xl md:text-5xl xl:text-6xl pb-2 xl:pb-4
    }

    h2 {
        @apply text-2xl md:text-3xl xl:text-4xl leading-none pb-[0.25rem] sm:pb-2 overflow-x-hidden
    }

    h2.uh::after {
        content: "";
        display: inline-block;
        height: 0.5rem;
        width: 100%;
        margin-right: -100%;
        @apply border-b border-black dark:border-white ml-1 lg:ml-[0.32rem]
    }

    h3 {
        @apply text-[0.92rem] md:text-lg xl:text-xl font-semibold
    }

    span {
        @apply text-xs md:text-sm xl:text-base font-normal text-span
    }

    time {
        @apply block text-[0.55rem] md:text-xs xl:text-sm font-normal text-span
    }

    p, ul, li, code, tbody {
        @apply font-[300] tracking-wide text-base xl:text-lg
    }

    ul>li>ul, ul>li>ul>li>ul {
        @apply pl-6 md:pl-8
    }

    nav>div>ul>li>a {
        @apply font-[300] tracking-wide text-xs md:text-base xl:text-lg
    }

    .list-disc li {
        @apply indent-[-17px] md:indent-[-21px] pl-[19px]
    }

}

@keyframes bottomup {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@layer utilities {
    .vertical-seperator {
        @apply w-[1px] lg:w-[2px] h-3 sm:h-6 dark:bg-white bg-black
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .link {
        @apply transition-all duration-75 decoration-1 md:decoration-2 md:hover:decoration-wavy underline underline-offset-2 md:hover:underline-offset-5 md:hover:decoration-accent-p font-medium italic
    }

    .tag {
        background-color: color-mix(in oklab, var(--tag-bg) 20%, transparent);
        border-color: color-mix(in oklab, var(--tag-border) 60%, transparent);

        &:hover {
            background-color: color-mix(in oklab, var(--tag-border) 50%, transparent);
        }

        @apply text-black dark:text-white px-1.25 py-0.25 md:px-2.5 md:py-0.5 mr-1 md:mr-2 text-2xs md:text-xs gap-2 rounded-full border-1 md:border-2 opacity-94 cursor-pointer select-none
    }

    .ui-ring-color {
        @apply dark:ring-white/35 ring-black/35
    }

    @media(prefers-reduced-motion: no-preference) {
        .list-anim {
            animation-name: bottomup;
            animation-duration: var(--list-anim-duration, 300ms);
            animation-delay: calc(var(--anim-order) * var(--list-anim-delay, 30ms));
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
        }
    }
}

section {
    --list-anim-duration: 300ms;
    --list-anim-delay: 50ms;
}

.blog-li {
    --list-anim-duration: 200ms;
    --list-anim-delay: 20ms;
}

.blog-li-a {
    @apply block w-fit transition-all duration-75 underline underline-offset-2 decoration-2 md:decoration-3 md:hover:decoration-wavy md:hover:underline-offset-8 md:hover:decoration-accent-p font-black tracking-wide md:tracking-wider leading-snug md:!leading-[1.5] italic text-pretty text-lg xs:text-xl md:text-2xl xl:text-3xl
}

#blog {
    &>*:not(h1):not(h2):not(time):not(#tags) {
        @apply mb-4
    }

    &>ul * {
        @apply font-serif list-disc list-inside
    }

    & time {
        @apply my-1 md:my-2
    }

    & .tag {
        @apply mb-2 md:mb-4 xl:mb-6
    }

    &>h1 {
        @apply !pb-0 font-black tracking-wide leading-9 md:leading-14 xl:leading-[4.2rem] text-left
    }

    &>h2 {
        @apply pt-4 py-2 md:py-3 xl:py-5 font-semibold
    }

    &>h2>code {
        @apply px-2 pb-0.5 text-xl md:text-3xl xl:text-4xl
    }

    & code span {
        @apply text-sm xl:text-base
    }

    &>#block-code>code, &>#block-code>code * {
        @apply font-[100] tracking-wide text-base xl:text-lg 2xl:text-2xl !leading-tight
    }

    &>p {
        @apply font-serif font-light tracking-wide
    }

    @apply max-w-screen-sm w-[-webkit-fill-available] mx-6 sm:mx-12 md:ml-auto md:mr-auto
}

@media print {
    body {
        background-color: #fff !important;
    }

    #nav-mask {
        display: none !important;
    }

    nav {
        display: none !important;
    }

    #download-resume-btn {
        display: none !important;
    }

    main {
        background-color: #fff !important;
        margin-top: 3.18rem !important;
        margin-right: 5rem !important;
        margin-bottom: 4rem !important;
        margin-left: 5rem !important;
    }

    footer {
        display: none !important;
    }
}

#image-grid {
    --min-tempate-column: 16rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-tempate-column), 1fr));
    grid-auto-rows: calc(var(--min-tempate-column) * 1.25);
    grid-auto-flow: dense;
}

#image-grid figure {
    overflow: hidden;

    display: grid;

    /* grid-template-columns: minmax(0, 1fr); */
    /* grid-template-rows: minmax(0, 1fr); */
}

/* #image-grid img { */
/*     inline-size: 100%; */
/*     block-size: 100%; */
/*     object-fit: cover; */
/**/
/*     transition: scale 200ms ease-in-out; */
/* } */

/* #image-grid img:hover { */
/*     scale: 1.05; */
/* } */
