@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
    b {
        @apply font-semibold text-black dark:text-white
    }

    h1 {
        @apply text-2xl md:text-4xl xl:text-5xl pb-2 xl:pb-4
    }

    h2 {
        @apply text-xl md:text-3xl xl:text-4xl pb-[0.25rem] sm:pb-2 overflow-x-hidden
    }

    h2.uh::after {
        content: "";
        display: inline-block;
        height: 0.5rem;
        width: 100%;
        margin-right: -100%;
        @apply border-b border-black dark:border-white ml-1 lg:ml-[0.32rem]
    }

    h3 {
        @apply text-[0.92rem] md:text-lg xl:text-xl font-semibold
    }
    
    span {
        @apply text-xs md:text-sm xl:text-base font-normal text-[#747474] dark:text-[#c5c5c5]
    }

    time {
        @apply text-[0.55rem] md:text-xs xl:text-sm font-normal text-[#747474] dark:text-[#c5c5c5]
    }

    p, ul, li, code, tbody {
        @apply font-[300] tracking-wide text-[0.80rem] md:text-base xl:text-lg
    }
    ul>li>ul, ul>li>ul>li>ul {
        @apply pl-6 md:pl-8
    }

    nav>div>ul>li>a {
        @apply font-[300] tracking-wide text-xs md:text-base xl:text-lg
    }

    .list-disc li {
        @apply indent-[-17px] md:indent-[-21px] pl-[19px]
    }

}

@layer utilities {
    .vertical-seperator {
        @apply w-[1px] lg:w-[2px] h-3 sm:h-6 dark:bg-white bg-black
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .gaayab {
        @apply hidden
    }

    .link {
        @apply transition-all duration-75 underline underline-offset-2 md:hover:decoration-wavy md:hover:underline-offset-4 md:hover:decoration-accent-p font-medium italic 
    }

}


/* #blog>:not(pre):not(.blog-li) { */
#blog {
    @apply max-w-screen-sm w-[-webkit-fill-available]
}

#blog>* {
    @apply mb-4
}

#blog>ul * {
    @apply font-serif list-disc list-inside
}

#blog>h1 {
    @apply text-4xl md:text-5xl xl:text-6xl pb-2 md:pb-4 xl:pb-6 font-black tracking-wide leading-tight xl:leading-[3.2rem] text-left
}
#blog>h2 {
    @apply pt-4 py-2 md:py-3 xl:py-5 font-semibold
}

#blog>h2>i {
    @apply px-2 pb-0.5 text-xl md:text-3xl xl:text-4xl
}

#blog>pre {
    @apply !bg-transparent overflow-scroll px-3 py-1.5 md:px-6 md:py-3 my-3 md:my-8 rounded-xl xl:rounded-2xl ring-1 dark:ring-white/80 ring-black saturate-160 dark:saturate-100
}

#blog>#block-code>code, #blog>#block-code>code * {
    @apply font-[100] tracking-wide text-sm md:text-base xl:text-lg !leading-tight
}

#blog>p {
    @apply font-serif font-light tracking-wide
}

@media print {
    body {
        background-color: #fff !important;
    }

    #nav-mask {
        display: none !important;
    }

    nav {
        display: none !important;
    }

    #download-resume-btn {
        display: none !important;
    }

    main {
        background-color: #fff !important;
        margin-top: 3.18rem !important;
        margin-right: 5rem !important;
        margin-bottom: 4rem !important;
        margin-left: 5rem !important;
    }

    footer {
        display: none !important;
    }
}


@keyframes bottomup {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

section {
    animation-name: bottomup;
    animation-duration: 400ms;
    animation-delay: calc(var(--anim-order) * 150ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}
