package components;

templ Footer(static string) {
	<footer id="footer" class="bg-light dark:bg-dark ring-1 ring-white mb-4 lg:mb-8 rounded-xl xl:rounded-2xl">
        <div class="py-3.5 px-6 md:py-5 md:px-10">
		<p class="text-6xl">Footer</p>
        </div>
	</footer>
}
