@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    b {
        @apply font-semibold text-black dark:text-white
    }

    h2 {
        @apply text-2xl sm:text-4xl xl:text-5xl pb-2 xl:pb-4
    }

    h3 {
        @apply text-lg sm:text-2xl xl:text-3xl pb-[0.25rem] sm:pb-2 overflow-x-hidden
    }

    h3::after {
        content: "";
        display: inline-block;
        height: 0.5rem;
        width: 100%;
        margin-right: -100%;
        @apply border-b border-black dark:border-white ml-1 lg:ml-[0.32rem]
    }

    h5 {
        @apply text-[0.92rem] sm:text-lg xl:text-xl font-semibold
    }

    span {
        @apply text-xs sm:text-sm xl:text-base font-normal text-[#747474] dark:text-[#c5c5c5]
    }

    p {
        @apply font-normal
    }

    p, ul {
        @apply text-[0.80rem] sm:text-base xl:text-lg
    }

    .list-disc li {
        @apply indent-[-17px] md:indent-[-21px] pl-[19px] font-normal
    }
}

@layer utilities {
    .vertical-seperator {
        @apply w-[1px] lg:w-[2px] h-3 sm:h-6 dark:bg-white bg-black
    }

    .acc-anim {
        @apply transition-all duration-200
    }

    .download-resume-btn {
        @apply acc-anim fixed z-[100] w-10 h-10 md:w-14 md:h-14 xl:w-[4.5rem] xl:h-[4.5rem] bottom-0 right-0 m-6 md:m-8 xl:m-16 flex items-center justify-center rounded-full bg-light-btn-p dark:bg-dark-btn-p hover:border-2 border-accent-p shadow-[0_0_16px_0px_rgba(0,0,0,0.13)] dark:shadow-[0_0_36px_-3px_rgb(0,0,0)]
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


@media print {
    body {
        background-color: #fff !important;
    }

    #nav-mask {
        display: none !important;
    }

    nav {
        display: none !important;
    }

    #download-resume-btn {
        display: none !important;
    }

    main {
        background-color: #fff !important;
        margin-top: 3.18rem !important;
        margin-right: 5rem !important;
        margin-bottom: 4rem !important;
        margin-left: 5rem !important;
    }
}

#download-resume {
    clip-path: url(#squircleClip);
    background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
}
