@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    b {
        @apply font-semibold text-black dark:text-white
    }

    h2 {
        @apply text-2xl md:text-4xl xl:text-5xl py-2 lg:py-4
    }

    h3 {
        @apply text-lg md:text-2xl xl:text-3xl pb-[0.250rem] lg:pb-3 overflow-x-hidden
    }

    h3::after {
        content: "";
        display: inline-block;
        height: 0.5rem;
        width: 100%;
        margin-right: -100%;
        @apply border-b border-black dark:border-white ml-1 lg:ml-[0.32rem]
    }

    h5 {
        @apply text-[0.92rem] md:text-lg xl:text-xl font-semibold
    }

    span {
        @apply text-xs md:text-sm xl:text-base font-normal text-[#747474] dark:text-[#c5c5c5]
    }

    p {
        @apply font-normal
    }

    p, ul {
        @apply text-[0.80rem] md:text-base xl:text-lg
    }

    .list-disc li {
        @apply indent-[-17px] md:indent-[-21px] pl-[19px] font-normal
    }
}

@layer utilities {
    .vertical-seperator {
        @apply w-[1px] lg:w-[2px] h-3 md:h-6 dark:bg-white bg-black
    }

    .acc-anim {
        @apply transition-all duration-300
    }

    .download-resume-btn {
        @apply acc-anim fixed z-[100] w-8 md:w-14 xl:w-20 h-8 md:h-14 xl:h-20 bottom-0 right-0 m-4 md:m-8 xl:m-20 flex items-center justify-center rounded-full bg-light-btn-p dark:bg-dark-btn-p hover:shadow-accent-p hover:shadow-lg touch-none
    }
}

@media print {
    #nav-mask {
        display: none !important;
    }

    nav {
        display: none !important;
    }

    #download-resume-btn {
        display: none !important;
    }

    main {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
}

#download-resume {
    clip-path: url(#squircleClip);
    background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
}

/* gradient backdrop blur */
/* .gradient-blur { */
/*   position: fixed; */
/*   top: 0 !important; */
/*   z-index: 98; */
/*   inset: auto 0 0 0; */
/*   pointer-events: none; */
/*   @apply h-16 md:h-24 xl:h-32 */
/* } */
/**/
/* .gradient-blur>div, */
/* .gradient-blur::before, */
/* .gradient-blur::after { */
/*   position: absolute; */
/*   inset: 0; */
/* } */

/* $iter: 6; */
/* $percent: calc(100 / ($iter + 2)); */
/* $percent_inc: calc(100 / ($iter + 2)); */
/* $blur: 2; */
/**/
/* .gradient-blur::before { */
/*   content: ""; */
/*   z-index: 1; */
/*   backdrop-filter: blur(#{$blur}px); */
/*   mask: linear-gradient(to top, */
/*       rgba(0, 0, 0, 0) 0%, */
/*       rgba(0, 0, 0, 1) math.percentage(calc($percent / 100)), */
/*       rgba(0, 0, 0, 1) math.percentage(calc(($percent + $percent_inc) / 100)), */
/*       rgba(0, 0, 0, 0) math.percentage(calc(($percent + ($percent_inc * 2)) / 100))) */
/* } */

/* @for $i from 1 through $iter { */
/*   .gradient-blur>div:nth-of-type(#{$i}) { */
/*     z-index: $i + 1; */
/*     backdrop-filter: blur(#{$blur}px); */
/**/
/**/
/*     @if $i ==$iter { */
/*       mask: linear-gradient(to top, */
/*           rgba(0, 0, 0, 0) math.percentage(calc($percent / 100)), */
/*           rgba(0, 0, 0, 1) math.percentage(calc(($percent + $percent_inc)/100)), */
/*           rgba(0, 0, 0, 1) math.percentage(calc(($percent + ($percent_inc * 2))/100))), */
/*     } */
/**/
/*     @else { */
/*       mask: linear-gradient(to top, */
/*           rgba(0, 0, 0, 0) math.percentage(calc($percent / 100)), */
/*           rgba(0, 0, 0, 1) math.percentage(calc(($percent + $percent_inc)/100)), */
/*           rgba(0, 0, 0, 1) math.percentage(calc(($percent + ($percent_inc * 2))/100)), */
/*           rgba(0, 0, 0, 0) math.percentage(calc(($percent + ($percent_inc * 3))/100))), */
/*     } */
/*   } */
/**/
/**/
/*   $blur: $blur * math.$e; */
/*   $percent: $percent + $percent_inc; */
/**/
/* } */
/**/
/* .gradient-blur::after { */
/*   content: ""; */
/*   z-index: 8; */
/*   backdrop-filter: blur(58.065px); */
/*   mask: linear-gradient(to top, */
/*       rgba(0, 0, 0, 0) 87.5%, */
/*       rgba(0, 0, 0, 1) 100%); */
/* } */
