@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    b {
        @apply font-semibold text-black dark:text-white
    }

    h1 {
        @apply text-2xl md:text-4xl xl:text-5xl pb-2 xl:pb-4
    }

    h3 {
        @apply text-xl md:text-3xl xl:text-4xl pb-[0.25rem] sm:pb-2 overflow-x-hidden
    }

    h3::after {
        content: "";
        display: inline-block;
        height: 0.5rem;
        width: 100%;
        margin-right: -100%;
        @apply border-b border-black dark:border-white ml-1 lg:ml-[0.32rem]
    }

    h4 {
        @apply text-[0.92rem] md:text-lg xl:text-xl font-semibold
    }

    span, time {
        @apply text-xs md:text-sm xl:text-base font-normal text-[#747474] dark:text-[#c5c5c5]
    }

    p, ul, li, code {
        @apply font-[300] tracking-wide text-[0.80rem] md:text-base xl:text-lg
    }

    a {
        @apply font-[300] tracking-wide text-2xs xs:text-xs md:text-sm xl:text-base
    }

    nav>div>ul>li>a {
        @apply font-[300] tracking-wide text-xs md:text-base xl:text-lg
    }

    .list-disc li {
        @apply indent-[-17px] md:indent-[-21px] pl-[19px]
    }

}

@layer utilities {
    .vertical-seperator {
        @apply w-[1px] lg:w-[2px] h-3 sm:h-6 dark:bg-white bg-black
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


/* #blog>:not(pre):not(.blog-li) { */
#blog>* {
    @apply max-w-screen-sm mx-auto
}

#blog>ul {
    @apply list-disc list-inside
}

#blog>h1 {
    @apply text-2xl md:text-4xl xl:text-5xl pb-4 xl:pb-8 font-black tracking-wide leading-tight md:leading-snug xl:leading-[3.5rem] text-left
}

#blog>pre {
    @apply mt-1
}

#blog>pre>code, #blog>pre>code * {
    @apply font-serif font-[100] tracking-wide text-[0.84rem] md:text-[0.96rem] xl:text-base leading-snug
}

#blog>p {
    @apply font-serif mb-4 tracking-wide text-[0.84rem] md:text-[0.96rem] xl:text-base leading-snug
}

@media print {
    body {
        background-color: #fff !important;
    }

    #nav-mask {
        display: none !important;
    }

    nav {
        display: none !important;
    }

    #download-resume-btn {
        display: none !important;
    }

    main {
        background-color: #fff !important;
        margin-top: 3.18rem !important;
        margin-right: 5rem !important;
        margin-bottom: 4rem !important;
        margin-left: 5rem !important;
    }

    footer {
        display: none !important;
    }
}
