@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        @apply text-2xl md:text-4xl xl:text-6xl
    }
    h3 {
        @apply text-lg md:text-2xl xl:text-4xl
    }
}

/* theme */
.theme-light {
    background: #fff;
    color: #000;
}

/* theme - dark mode */
@media (prefers-color-scheme: dark) {
    .theme-light.adaptive {
        background: #111;
        color: #fff;
    }
}

#nav-mask {
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.8) 70%, transparent 90%);
}
