@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        @apply text-3xl md:text-5xl xl:text-6xl py-2 lg:py-4
    }

    h3 {
        @apply text-xl md:text-3xl xl:text-4xl py-1.5 lg:py-3 overflow-x-hidden
    }

    h3::after {
        content: "";
        display: inline-block;
        height: 0.5em;
        width: 100%;
        margin-right: -100%;
        @apply border-b border-black dark:border-white ml-1 lg:ml-[0.32rem]
    }

    h5 {

        @apply text-[0.92rem] md:text-lg xl:text-xl font-semibold py-0.5 lg:py-1
    }

    p {
        @apply text-[0.92rem] md:text-lg xl:text-xl font-light
    }

    span {
        @apply text-xs md:text-sm xl:text-base font-normal text-gray-200
    }

    ul {
        @apply text-xs md:text-sm xl:text-base
    }
}

@layer utilities {
    .vertical-seperator {
        @apply w-[1px] lg:w-[2px] h-3 md:h-6 dark:bg-white bg-black
    }
}

#nav-mask {
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.8) 70%, transparent 90%);
}
