@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    b {
        @apply font-semibold
    }

    h2 {
        @apply text-2xl md:text-4xl xl:text-5xl py-2 lg:py-4
    }

    h3 {
        @apply text-lg md:text-2xl xl:text-3xl pb-[0.125rem] lg:pb-2 overflow-x-hidden
    }

    h3::after {
        content: "";
        display: inline-block;
        height: 0.5rem;
        width: 100%;
        margin-right: -100%;
        @apply border-b border-black dark:border-white ml-1 lg:ml-[0.32rem]
    }

    h5 {
        @apply text-[0.92rem] md:text-lg xl:text-xl font-semibold 
    }

    span {
        @apply text-xs md:text-sm xl:text-base font-normal text-[#747474] dark:text-[#c5c5c5]
    }

    p {
        @apply font-medium
    }

    p, ul {
        @apply text-[0.80rem] md:text-base xl:text-lg
    }

    .list-disc li {
        @apply indent-[-17px] md:indent-[-21px] pl-[19px] font-light
    }
}

@layer utilities {
    .vertical-seperator {
        @apply w-[1px] lg:w-[2px] h-3 md:h-6 dark:bg-white bg-black
    }
}

#nav-mask {
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.8) 70%, transparent 90%);
}

@media print {
    #nav-mask {
        display: none !important;
    }
    nav {
        display: none !important;
    }
    main {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
}
